body{

    margin: 0px;
    padding: 0px;
}
img{
    width: 8%;
}
header{
    background-color:#23232e;
    padding: 20px 0;
    color:white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    
}
.circle{
    margin-top: 50px;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 50%;
    display:inline-block;
}
.whta-i-do{

    padding: 50px 0;
}
.container{
    margin:20px 10% ;
    overflow: hidden;

}
.whta-i-do{
    color: #23232e;

}
.whta-i-do .p{

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;

}
.col{
    width: 31.33%;
    margin: 10px 1%;
    float: left;
    text-align: left;
}

.my-work{
     text-align: center;
     padding: 10px 34%;
     color: white;

}   
.my-work .menu ul{
    margin: 0px;
    
    padding: 0px;
    list-style: none;
}
.my-work .menu ul li{
    display: inline-block;
    
    padding: 7px 0%;
}
.my-work .menu ul li a{
    text-decoration: none;

    color: rgb(255, 255, 255);
    font-size: 9px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 40px 10px;
}
.my-work .menu ul li a:hover{
    border-bottom:1px solid #712279;
    background-color: rgb(21, 63, 63);
    margin: 0px 10px;
    padding:  0px;
    color: white;

}
.comtainer {
    margin: 0px ;
    background-color: rgb(0, 0, 0);
    

}

img{

    display:inline-block;
}# This-is-my-web-site
